<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Map</title>
</head>
<body>
<h3>Map of Houses</h3>
<!--<div id="map" style="height: 600px;"></div>-->

<!--<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>-->
<!--<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />-->

<!--<script>-->
<!--    // Инициализация карты-->
<!--    var map = L.map('map').setView([55.0415, 82.9346], 10); // Укажите начальные координаты и уровень масштабирования-->

<!--    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {-->
<!--        maxZoom: 21,-->
<!--        attribution: '© OpenStreetMap'-->
<!--    }).addTo(map);-->

<!--    //Получение данных о домах-->




<!--//flat.forEach(oks =>{L.marker([flat.doma.oks.lat,flat.doma.oks.lon]).addTo(map)});-->
<!--//-->
<!--//      var okss =/*[[${/oks/${5}s}}]]*/ [];-->
<!--//      okss.forEach(function(okss) {L.marker([oks.lat, oks.lon]).addTo(map).bindPopup(oks.full_street)});-->



<!--</script>-->
</body>
</html>